html, body{
    height: 100%;
    margin: 0;
}

body {
     font-family: "Plus Jakarta Sans", sans-serif !important; 
     display: flex;
     flex-direction:column;
     min-height: 100vh;
}

main.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass-drafting{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
   color: #222222 !important;
}

/* Footer */
.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links,.f-info-socials, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.2rem;
    margin-right: 1rem;
}

.f-info{
    text-align: center;
     min-height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 130% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

/* card Effect */
.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color:#fe424d !important;
    border: none !important
}

.edit-btn{
    background-color:#fe424d !important;
    border: none !important;
}

.show-img{
    height: 30vh;
}

.btns{
    display: flex;
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

.edit-image {
  width: 30%;
  max-height: 100px;
  object-fit: cover;
  border-radius: 8px;
}
